*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  color: #ECECFF;
  cursor: default;
}

p {
  padding: 0;
  margin: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.opacity-1 {
  opacity: 0.7;
  transition: all 0.15s;
}

.opacity-1:hover {
  opacity: 1;
  transform: translateY(-2px);
}

.body {
  margin-top: 1rem;
  display: flex; 
  flex-direction: column;
  align-items: center;
  background-color: #2E2E37;
}

.header-hr {
  width: 2px;
  height: 20px;
  background-color: white;
  margin: 0;
  border: none;
}

.resume-button {
  background-color: transparent;
  padding: 8px 20px;
  border: 1px solid white;
  border-radius: 3px;
  transition: all 0.15s;
  color: #ECECFF;
  margin-right: 10px;
}

.resume-button i {
  fill: #ECECFF;
}


.resume-button:hover {
  opacity: 0.7;
}

.icons {
  cursor: pointer;
  transition: all 0.15s;
  font-size: 40px;
  opacity: 0.8;

}

.icons:hover {
  opacity: 1;
  transform: translateY(-3px);
}

.icons:active {
  font-size: 35px;
  transform: translateX(2px);
}

.Andy {
  width: 200px;
  height: 200px;
}

/* Smaller size when screen is md (≤ 768px) */
@media (max-width: 768px) {
  .Andy {
    width: 150px;
    height: 150px;
  }
}

.nav-experience {
  background-color: #94A3B8;
}

.nav-work {
  background-color: #3A3B3C;
  transition: all 0.2s;
}

.nav-education {
  background-color: transparent;
  transition: all 0.2s;
}

.experience-hr {
  opacity: 1;
  background-color: white;
  border: none;
  width: 1px;
  margin: 0;
}

.experience-logo {
  left: 20px;
  border: 1px solid #ECECFF;;
  position: absolute;
  width: 60px;
  height: 60px;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 576px) {
  .haha {
    margin-left: 220px !important;
    margin-right: -50px !important;
  }
}

.skills-item {
  border-radius: 3px;
  background-color: #524F4F;
  text-align: center;
  padding: 5px 10px;
  transition: all 0.15s;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: transparent;
  border: solid 1px #ECECFF;
  border-radius: 18px;
}